@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@font-face {
  font-family: "Zalando Sans Expanded";
  src: url("/fonts/zalando-sans-semiexpanded-latin-600-normal.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  line-height: 134.2;
  letter-spacing: -7.9px;
}
