@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "Zalando Sans Expanded";
  src: url("/fonts/zalando-sans-expanded-latin-ext-800-normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Expanded";
  src: url("/fonts/zalando-sans-expanded-latin-ext-900-normal.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
